li {
    list-style: none;
    color: saddlebrown;
    font-family: serif;
    text-align: justify;
    display: block;
    width: 150px;
    margin-left: 10px;
    margin-right: 15px;
    height: auto;

}

fieldset {
    margin: 0 auto;
    width: 450px;

}

h2 {
    color: saddlebrown;
    font-family: serif;
}

form {
    position: absolute;
    width: 400px;
   height: 400px;
    margin-top: 10px;
    margin-bottom: 30px;

}

h3 {
    color: black;
    font-family: serif;

}

table {
    position: absolute;
    color: saddlebrown;
    font-family: serif;
    text-align: left;
    display: block;

}

#bouton1 {

    display: inline-block;
    margin-top: 450px;
    margin-left: 650px;
    margin-top: 400px;
}

#bouton2 {
    margin-left: 100px;
    margin-top: -20px;
    margin-left: 560px;
}
#tableau {
    margin-left: 500px;
    margin-top: -800px;


}

/*
.lab1 {
    display: inline;
    margin-left: 80px;
}

.lab2 {
    display: inline;
    margin-left: 60px;
}

.lab3 {
    display: inline;
    margin-left: 10px;
}

.lab4 {
    display: inline;
    margin-left: 65px;
}

.lab5 {
    display: inline;
    margin-left: 100px;
}

.lab6 {
    display: inline;
    margin-left: 60px;
}

.lab7 {
    display: inline;
    margin-left: 100px;
}

.lab8 {
    display: inline;
    margin-left: 90px;
    margin-top: -20px;
}

.lab9 {
    display: inline;
    margin-left: 46px;
}
*/

#radio01 {
    display: inline;
    margin-left: 10px;
    line-height: 10px;
}

#radio02 {
    display: inline;
    margin-left: 10px;
    line-height: 10px;
}

#radio00 {
    display: inline;
    margin-left: 10px;
}

#radio001 {
    display: inline;
    margin-left: 10px;
}

#radio03 {
    display: inline;
    margin-left: 10px;
}

#recap{
    display: inline;
    margin-left: 950px;
    width: 200px
}
h4{
    width: 200px
}

body {
    margin: 100px;
}

.lab1, .lab2, .lab3, .lab4, .lab5, .lab6, .lab7, .lab8,.lab9{
    display: inline;
    margin-left: 150px;
    margin-top: -20px;

}