li {
    list-style: none;
    color: white;
    font-family: serif;
    line-height: 2;
    text-align: right;
    padding: 1px;
    background-color: saddlebrown;
    padding-right: 2px;
    display: inline-block;

}
div {
    font-family: serif;
    line-height: 2;
    text-align: left;
    padding: 1px;
    background-color: saddlebrown;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;

}
h2 {
    color: saddlebrown;
    font-family: serif;
    text-align: justify;
    padding: 1px;

}
