li {
    list-style: none;
    font-family: serif;
    line-height: 1;
    text-align: left;
    padding: 1px;
    width: 30%;
    font-family: sans-serif;
    margin-left: 10px;

}
h2 {
    color: saddlebrown;
font-family: sans-serif;
    text-decoration: dashed;

}
h3 {
    color: saddlebrown;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: dashed;

}
h1 {
    color: saddlebrown;
    font-family: sans-serif;
    text-decoration: blink;
    text-decoration: dashed;
}
table {
    color: black;
    font-family: sans-serif;
    margin-left: 1000px;
    text-align: left;
    margin-bottom: 100px;
    display: inline-block;

}
input {
    color: black;
    font-family: sans-serif;
}
div {
    color: black;
    font-family: sans-serif;
    margin-left: 200px;
    text-align: left;
    margin-bottom: 200px;
    display: inline-block;
}
label {
    width: 100px;
    text-align: justify;
}
td {
    width: 100px;
    text-align: justify;
}
h4 {
    color: saddlebrown;
    font-family: sans-serif;
    text-align: left;
    margin-bottom: 100px;
    margin-left: 1000px;
}
#bouton1 {
    color: saddlebrown;
    font-family: sans-serif;
    text-align: left;
    margin-bottom: 300px;
    margin-left: 1400px;

}
#bouton2 {
    color: saddlebrown;
    font-family: sans-serif;
    text-align: left;
    margin-bottom: 300px;
    margin-left: 1400px;

}
span {
    color: saddlebrown;
    font-family: sans-serif;
    text-align: left;
    margin-bottom: 500px;
    margin-left: 1400px;
}
