* {
    list-style-type:none;
    margin-left: 0;
}

body {
    background-color: cornsilk;
}

#header_logo{
    display: inline-block;
    background-color: cornsilk;
    float: left;
    padding: 30px;
    margin-top: 0;
    margin-left: 0;
    color: peru;
}

#header_1{
    background-color: black;
    color: white;
    margin-right: 30px;
    margin-top: 50px;
    float: right;
}

.haut {
    display: inline-block;
    margin-right: 170px;
    margin-left: 30px;
}
#header_2{
    background-color: cornsilk;
    margin-top: 50px;
    display: inline-block;
   /* margin-left: 5%;*/
}

.produits {
    display: inline-block;
    margin-left: 50px;
    margin-right: inherit;
}

#wrapper_ag {
    text-align: center;
    background-color: cornsilk;
}


#footer {
    margin: 0;
  display : inline-block;
    background-color: cornsilk;
    /* height: inherit;*/

}

#categorie {
    display : inline-block;

}
#information {
    display : inline-block;
    margin-left: 150px;
    /*margin-left: ;*/
}
#compte {
    display: inline-block;
    margin-left: 150px;
 /*   margin-left: ;*/
}

p {
    margin-left: 40px;
}

h1 {
    margin-left: 40px;
}

h2 {
    color: peru;
}

h3 {
    margin-left: 40px;
    color: peru;
    display : inline-block;
}
p {
    margin-right: 30px;
}
a:hover {
    color: blueviolet;
}

a:visited {
    color: saddlebrown;
}

a:active {
    color: hotpink;
}