.main{
    position: absolute;
    width: 1070px;
    height: 800px;

    margin-left: 180px;
}
.div1{

    width: 250px;


}

#premiertext{
    text-align: center;
    width: 200px;
    margin-left: 50px;
    font-family:fantasy;



}
.div2{
    display: inline-block;
    width: 250px;
    position: absolute;
    margin-left: 300px;
    margin-top: -280px;

}
#deuxiemetext{
    width: 200px;
    text-align: center;
    font-family:fantasy;
}

.div3{
    display: inline-block;
    width: 250px;
    margin-left:520px;
position: absolute;
    margin-top: -245px;

}
#troisiemetext{
   text-align: center;
    width: 200px;
    margin-left: 50px;
    font-family:fantasy;
}
.div4{
    display: inline-block;
    width: 250px;
    margin-left: 787px;
    margin-top:-360px;
    position: absolute;
}
#quatriemetext{
    text-align: center;
    width: 200px;
    font-family:fantasy;
}
.div5{
    margin-left: 50px;
}
#cinquiemetext{
    text-align: center;
    width: 200px;
    font-family:fantasy;

}
.div6{
    display: inline-block;
    width:250px;
    margin-left: 280px;
    margin-top:-298px;
    position: absolute
}
#img6{
    margin-top: -30px;
}
#siziemetext{
    text-align: center;
    width: 200px;
    margin-top: 46px;
    font-family:fantasy;
}
.div8{
    display: inline-block;
    width: 250px;
    margin-left: 790px;
    margin-top:-300px;
    position: absolute;
}
#huitiemetext{
    text-align: center;
    width: 200px;
    margin-top: 18px;
    font-family:fantasy;
}


.div7{
    display: inline-block;
    width: 250px;
    margin-left: 530px;
    margin-top: -300px;
    position: absolute;
}
#septiemetext{
    text-align: center;
    width: 200px;
    margin-top: 30px;
    font-family:fantasy;
}